---
---

@import "{{ site.theme }}";

$grey: #9b9a9a;
$wrap_width: 850px;
$narrow_width: 650px;

.wrapper, section, nav {
  max-width: $wrap_width !important;
}

section {
  margin: 0;
  padding: 20px 0;
}

#title {
  margin: 0 !important;

  p {
    margin-bottom: 0;
  }
}

#posts {
  padding-top: 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap
}
.post-title {
  flex-grow: 99;
  padding-right: 0.5em;
}
.post-date {
  flex-grow: 1;
  font-size: 14px;
  color: $grey;
  padding: 0.5ex 0 1.5ex;
}
.inline-date {
    color: $grey;
    margin-right: 0.3em;
}

video {
  margin-bottom: 1.7ex;
  width: 100%;
}

.main-links {
  text-align: center;
  margin-top: -2.5ex;
}

@media only screen and (min-width: $narrow_width) {
  body {
    // tweak theme css base font-size
    // font: 15px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
  }
}

@media only screen and (max-width: $narrow_width) {
  #title {
    h1 {
      font-size: 30px !important;
      line-height: 30px !important;
      margin-top: -7px;
    }
    p {
      display: none
    }
  }

  .main-links {
    margin-top: -1.5ex;
  }

  .small-logo {
    height: 32px !important;
    margin-bottom: -5px !important;
    padding-right: 0 !important;
  }

  .big-logo {
    height: 100px !important;
  }
}

.big-logo {
  padding-bottom: 2ex;
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.small-logo {
  height: 36px;
  padding-right: 0.5ex;
  margin-bottom: -3px;
}

#social-links {
  $size: 28px;

  text-align: center;
  margin: 0 0 0.7em;

  .social-link {
    $font_size: $size * (23/36);

    background: #888;
    border-radius: 100%;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0 0.5em;

    i.fa {
      font-size: $font_size;
      color: #111;
      padding-top: $font_size / 3.3;
    }
    i.fa-rss {
      padding-left: $font_size / 12;
    }
    i.fa-envelope-o {
      position: relative;
      top: -$font_size / 24;
    }

    &:hover {
      background: #ccc;
    }

    transition: background-color 333ms linear;
  }
}
