---
---

@import "{{ site.theme }}";

$grey: #9b9a9a;
$wrap_width: 850px;
$narrow_width: 650px;

.wrapper, section, nav {
  max-width: $wrap_width !important;
}

section {
  margin: 0;
  padding: 20px 0;
}

#title {
  margin: 0 !important;
}

#posts {
  padding-top: 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap
}
.post-title {
  flex-grow: 99;
  padding-right: 0.5em;
}
.post-date {
  flex-grow: 1;
  font-size: 14px;
  color: $grey;
  padding: 0.5ex 0 1.5ex;
}
.inline-date {
    color: $grey;
    margin-right: 0.3em;
}

video {
  margin-bottom: 1.7ex;
}

@media only screen and (max-width: $wrap_width) {
  video {
    width: 100%;
  }
}

@media only screen and (max-width: $narrow_width) {
  #title {
    h1 {
      font-size: 30px !important;
      line-height: 30px !important;
      margin-top: -7px;
    }
    p {
      display: none
    }
  }

  .small-logo {
    height: 32px !important;
    margin-bottom: -5px !important;
    padding-right: 0 !important;
  }

  .big-logo {
    height: 100px !important;
  }
}

.big-logo {
  padding-bottom: 2ex;
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.small-logo {
  height: 36px;
  padding-right: 0.5ex;
  margin-bottom: -3px;
}
