---
---

@import "{{ site.theme }}";

$grey: #9b9a9a;

.wrapper, section, nav {
  max-width: 850px !important;
}

section {
  margin: 0;
  padding: 20px 0;
}

#title {
  margin: 0 !important;
}

#posts {
  padding-top: 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap
}
.post-title {
  flex-grow: 99;
  padding-right: 0.5em;
}
.post-date {
  flex-grow: 1;
  font-size: 14px;
  color: $grey;
  padding: 0.5ex 0 1.5ex;
}
.inline-date {
    color: $grey;
    margin-right: 0.3em;
}

video {
  margin-bottom: 1.7ex;
}
